In [1]:
import numpy as np
import pandas as pd
import io
import sklearn.datasets
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
heart_dataset = pd.read_csv(r'D:\PROJECT\DYNAMITE\DATASET\Arjun\disease\Heart_Disease_Prediction.csv')
data_frame = pd.DataFrame(heart_dataset)

# breast_cancer_dataset = sklearn.datasets.load_breast_cancer()
# print(breast_cancer_dataset)
# data_frame1 = pd.DataFrame(breast_cancer_dataset.data, columns = breast_cancer_dataset.feature_names)

In [3]:
data_frame.describe()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
count,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.00000,270.000000,270.000000,270.000000
mean,54.433333,0.677778,3.174074,131.344444,249.659259,0.148148,1.022222,149.677778,0.329630,1.05000,1.585185,0.670370,4.696296
std,9.109067,0.468195,0.950090,17.861608,51.686237,0.355906,0.997891,23.165717,0.470952,1.14521,0.614390,0.943896,1.940659
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.00000,1.000000,0.000000,3.000000
25%,48.000000,0.000000,3.000000,120.000000,213.000000,0.000000,0.000000,133.000000,0.000000,0.00000,1.000000,0.000000,3.000000
50%,55.000000,1.000000,3.000000,130.000000,245.000000,0.000000,2.000000,153.500000,0.000000,0.80000,2.000000,0.000000,3.000000
75%,61.000000,1.000000,4.000000,140.000000,280.000000,0.000000,2.000000,166.000000,1.000000,1.60000,2.000000,1.000000,7.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.20000,3.000000,3.000000,7.000000

In [4]:
data_frame.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

In [5]:
data_frame.isnull().sum()

Age                        0
Sex                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

In [6]:
# data_frame['Heart Disease'] = heart_dataset.target
data_frame['Heart Disease'].value_counts()

Absence     150
Presence    120
Name: Heart Disease, dtype: int64

In [7]:

x = data_frame.drop(columns='Heart Disease', axis=1)
y = data_frame['Heart Disease'] 
print(x)

     Age  Sex  Chest pain type   BP  Cholesterol  FBS over 120  EKG results  \
0     70    1                4  130          322             0            2
1     67    0                3  115          564             0            2
2     57    1                2  124          261             0            0
3     64    1                4  128          263             0            0
4     74    0                2  120          269             0            2
..   ...  ...              ...  ...          ...           ...          ...
265   52    1                3  172          199             1            0
266   44    1                2  120          263             0            0
267   56    0                2  140          294             0            2
268   57    1                4  140          192             0            0
269   67    1                4  160          286             0            2

     Max HR  Exercise angina  ST depression  Slope of ST  \
0       109                0            2.4            2
1       160                0            1.6            2
2       141                0            0.3            1
3       105                1            0.2            2
4       121                1            0.2            1
..      ...              ...            ...          ...
265     162                0            0.5            1
266     173                0            0.0            1
267     153                0            1.3            2
268     148                0            0.4            2
269     108                1            1.5            2

     Number of vessels fluro  Thallium
0                          3         3
1                          0         7
2                          0         7
3                          1         7
4                          1         3
..                       ...       ...
265                        0         7
266                        0         7
267                        0         3
268                        0         6
269                        3         3

[270 rows x 13 columns]

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size= 0.2, random_state= 100)

model = LogisticRegression()

hist = model.fit(x_train,y_train)

c:\Users\Suryan\.conda\envs\env\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [9]:
sample = x_train[1:3]
sample

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
124,54,1,3,125,273,0,2,152,0,0.5,3,1,3
221,65,1,4,135,254,0,2,127,0,2.8,2,1,7

In [10]:
x_train_predict = model.predict(x_train)
training_data_acc = accuracy_score(y_train,x_train_predict)

In [11]:
print('Accuracy=',training_data_acc )

Accuracy= 0.8657407407407407

In [12]:
X_train_predict = model.predict(x_test)
training_data_acc = accuracy_score(y_train,x_train_predict)

In [13]:
print('Accuracy=',training_data_acc )

Accuracy= 0.8657407407407407

In [14]:
x_test_predict = model.predict(x_test)
test_data_acc = accuracy_score(y_test,x_test_predict)

In [15]:
print("Accuracy=",test_data_acc)

Accuracy= 0.8333333333333334

In [16]:
input_data =[[70,1,4,130,322,0,2,109,0,2.4,2,3,3]]
input_num = np.asarray(input_data)
# input_reshape = input_num.reshape(1,-1)
# print(input_reshape)

In [17]:
prediction = model.predict(input_num)
print(prediction)

if(prediction[0]== 0):
 print("Absence")

else:
 print("Presence")

['Presence']
Presence

c:\Users\Suryan\.conda\envs\env\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

In [18]:
# reshaper = input_num.reshape(1,-1)
prediction = model.predict(x_test)
print(prediction)

['Absence' 'Absence' 'Presence' 'Presence' 'Presence' 'Presence' 'Absence'
 'Absence' 'Presence' 'Absence' 'Presence' 'Absence' 'Presence' 'Presence'
 'Absence' 'Absence' 'Presence' 'Absence' 'Absence' 'Presence' 'Presence'
 'Absence' 'Presence' 'Presence' 'Presence' 'Absence' 'Absence' 'Absence'
 'Absence' 'Absence' 'Absence' 'Presence' 'Absence' 'Presence' 'Presence'
 'Absence' 'Absence' 'Absence' 'Absence' 'Absence' 'Presence' 'Absence'
 'Presence' 'Absence' 'Absence' 'Absence' 'Absence' 'Absence' 'Absence'
 'Absence' 'Presence' 'Absence' 'Presence' 'Absence']

In [24]:
# model.save('heart_model.h5', hist)
import pickle
pickle.dump(model, open(r'D:\PROJECT\DYNAMITE\SAVED_MODEL\heart_model.sav','wb'))

In [34]:
loaded_model = pickle.load(open(r'D:\PROJECT\DYNAMITE\SAVED_MODEL\heart_model.sav','rb'))
test = [56,1,2,120,236,0,0,178,0,0.8,1,0,3]
test = np.asarray(test)
test = test.reshape(1,-1)
x_train_predict = loaded_model.predict(test)
# training_data_acc = accuracy_score(y_test,x_train_predict)

c:\Users\Suryan\.conda\envs\env\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

In [35]:
print(x_train_predict)

['Absence']